{% extends 'base.html.twig' %}

{% block title %}Resultado{% endblock %}

{% block body %}
    <h1>Resultado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultado.id }}</td>
            </tr>
            <tr>
                <th>Puntos</th>
                <td>{{ resultado.puntos }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ resultado.fecha ? resultado.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre_publico</th>
                <td>{{ resultado.nombrePublico ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resultado_index') }}">back to list</a>

    <a href="{{ path('app_resultado_edit', {'id': resultado.id}) }}">edit</a>

    {{ include('resultado/_delete_form.html.twig') }}
{% endblock %}
